@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: CheltBold;
  src: url("../fonts/ITC%20-%20CheltenhamITCPro-BoldCond.woff2") format("woff2"), url("../fonts/ITC%20-%20CheltenhamITCPro-BoldCond.woff") format("woff"); }
@font-face {
  font-family: CheltLight;
  src: url("../fonts/ITC%20-%20CheltenhamITCPro-LightCond.woff2") format("woff2"), url("../fonts/ITC%20-%20CheltenhamITCPro-LightCond.woff") format("woff"); }
@use "sass:math";
/**
 * Define media queries
 */
* {
  box-sizing: border-box; }

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth; }

button, a {
  cursor: pointer; }

.dem__body-wrap {
  background: #021d54;
  background: linear-gradient(162deg, #021d54 0%, #173970 20%, #2a558d 40%, #407fcb 60%, #2562c3 80%, #3b6a9f 100%); }

.dem__body-gradient {
  min-height: 100vh; }
  .dem__body-gradient--radial {
    background: #19abc5;
    background: radial-gradient(circle, #1cc2e1 0%, rgb(120 24 24) 100%)
    min-height: 100vh; }

.dem__helper-text {
  position: absolute;
  right: -2000%;
  font-size: 0;
  line-height: 0; }

.dem__body--freeze {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: fixed; }

.header__skip-cta {
  position: absolute;
  top: -100px;
  margin: 10px 21px 5px; }
  .header__skip-cta:focus {
    position: static;
    display: block;
    height: auto;
    opacity: 1; }

.dem__margins {
  padding-left: 30px;
  padding-right: 30px;
  max-width: 600px;
  margin: 0 auto; }

.dem__background {
  background-color: #F2F4F8;
  color: #011C54;
  padding-top: 35px;
  padding-bottom: 35px; }

.dem__title-h1 {
  font-family: trade-gothic-next-condensed, sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 120%;
  font-size: calc(24px + 14 * ((100vw - 375px) / 1065)); }

.dem__title-h2 {
  font-family: "CheltBold", serif;
  font-size: calc(20px + 14 * ((100vw - 375px) / 1065));
  line-height: 125%; }

.dem__title-h3 {
  font-family: trade-gothic-next, sans-serif;
  font-weight: 600;
  line-height: 120%;
  font-size: calc(20px + 8 * ((100vw - 375px) / 1065));
  letter-spacing: 0.2px; }

.dem__title-h4 {
  font-family: trade-gothic-next, sans-serif;
  font-weight: 600;
  line-height: 130%;
  font-size: calc(12px + 8 * ((100vw - 375px) / 1065)); }

.dem__title-h5 {
  font-family: trade-gothic-next, sans-serif;
  font-weight: 600;
  line-height: 125%;
  font-size: calc(12px + 3 * ((100vw - 375px) / 1065)); }

.dem__title-h6 {
  font-family: trade-gothic-next, sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 130%; }

.dem__copy {
  font-family: trade-gothic-next, sans-serif;
  font-weight: 400;
  font-size: calc(12px + 8 * ((100vw - 375px) / 1065));
  line-height: 145%; }
  .dem__copy strong {
    font-weight: 800; }
  .dem__copy p {
    padding-bottom: 20px; }
  .dem__copy ul, .dem__copy ol {
    padding-left: 22px; }
  .dem__copy ul {
    list-style: disc; }
  .dem__copy ol {
    list-style: decimal; }
  .dem__copy li {
    font-weight: 700;
    padding-bottom: 14px; }
  .dem__copy a {
    color: #D21C1C;
    position: relative;
    text-decoration: none; }
    .dem__copy a:after {
      content: "";
      position: absolute;
      width: 0;
      height: 2px;
      background-color: #D21C1C;
      bottom: 0;
      left: 0;
      visibility: hidden;
      bottom: -3px;
      transition: all 0.3s ease-in-out; }
    .dem__copy a:focus:after {
      visibility: visible;
      width: 100%; }

.dem__button {
  font-family: trade-gothic-next, sans-serif;
  font-weight: 800;
  background-color: #D21C1C;
  display: inherit;
  font-size: calc(11px + 5 * ((100vw - 375px) / 1065));
  line-height: 100%;
  padding: 6px 20px 8px;
  border: 1.5px solid #D21C1C;
  color: #FFF9EA;
  text-decoration: none;
  border-radius: 50px;
  width: fit-content;
  transition: all 0.3s ease-in-out; }
  .dem__button:focus {
    background-color: #FFF9EA;
    color: #D21C1C;
    border-color: #FFF9EA; }
  .dem__button--outline {
    background-color: transparent;
    border: 1.5px solid #F2F4F8;
    color: #F2F4F8; }
    .dem__button--outline:focus {
      color: #011C54; }
  .dem__button--outline-dark {
    background-color: transparent;
    border: 1.5px solid #011C54;
    color: #011C54; }
    .dem__button--outline-dark:focus {
      color: #F2F4F8;
      background-color: #011C54; }

.dem__input-field {
  display: flex;
  flex-flow: column-reverse; }

.dem__input {
  font-family: trade-gothic-next, sans-serif;
  font-weight: 700;
  font-size: 13px;
  color: #011C54;
  background-color: transparent;
  border: none;
  text-transform: none;
  border-bottom: 1.5px solid #011C54;
  border-radius: 0;
  display: block;
  padding: 6px 10px;
  text-align: left;
  margin-bottom: 10px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-appearance: none;
  cursor: text; }

.dem__input-label,
.dem__input {
  transition: all 0.2s;
  touch-action: manipulation; }

.dem__input-label {
  line-height: 112%; }

.dem__input:placeholder-shown + .dem__input-label {
  cursor: text;
  font-size: 13px;
  white-space: nowrap;
  overflow: hidden;
  padding-left: 10px;
  text-transform: none;
  font-family: trade-gothic-next, sans-serif;
  font-weight: 700;
  color: #011C54;
  transform-origin: left bottom;
  transform: translate(0, 23px) scale(1);
  text-align: left; }

::-webkit-input-placeholder {
  opacity: 0;
  transition: inherit; }

::-moz-placeholder {
  opacity: 0;
  transition: inherit; }

::-ms-input-placeholder {
  opacity: 0;
  transition: inherit; }

.dem__input:focus::-webkit-input-placeholder {
  color: #011C54;
  opacity: 1; }

.dem__input:focus::-moz-placeholder {
  color: #011C54;
  opacity: 1; }

.dem__input:focus::-ms-input-placeholder {
  color: #011C54;
  opacity: 1; }

.dem__input:not(:placeholder-shown) + .dem__input-label,
.dem__input:focus + .dem__input-label {
  font-family: trade-gothic-next, sans-serif;
  font-weight: 700;
  font-size: 13px;
  transform: translate(0, -0.5rem) scale(1);
  color: #011C54;
  padding: 0;
  text-transform: none;
  text-align: left;
  cursor: pointer; }

.dem__input:-webkit-autofill + .dem__input-label,
.dem__input:-webkit-autofill:hover + .dem__input-label,
.dem__input:-webkit-autofill:focus + .dem__input-label {
  font-family: trade-gothic-next, sans-serif;
  font-weight: 700;
  font-size: 13px;
  transform: translate(0, -0.5rem) scale(1);
  color: #011C54;
  padding: 0;
  text-transform: none;
  text-align: left;
  cursor: pointer; }

.error_input {
  border-color: #D21C1C; }

.error_input:placeholder-shown + .dem__input-label {
  color: #D21C1C; }

.dem__disclaimer-text {
  font-size: 12px; }

@media screen and (min-width: 720px) {
  .dem__margins {
    padding-left: 50px;
    padding-right: 50px;
    max-width: 950px; }

  .dem__background {
    padding-top: 45px;
    padding-bottom: 45px; }

  .dem__button {
    padding: 10px 30px 11px; }

  .dem__copy {
    line-height: 160%; }
    .dem__copy p {
      padding-bottom: 30px; }

  .dem__input {
    padding: 6px 4px;
    margin-bottom: 20px; }

  .dem__input:placeholder-shown + .dem__input-label {
    padding-left: 4px; }

  .dem__input:not(:placeholder-shown) + .dem__input-label,
  .dem__input:focus + .dem__input-label {
    padding: 0; }

  .dem__disclaimer-text {
    line-height: 120%; } }
@media screen and (min-width: 960px) {
  .dem__margins {
    padding-left: 75px;
    padding-right: 75px; }

  .dem__background {
    padding-top: 52px;
    padding-bottom: 52px; }

  .dem__copy p {
    padding-bottom: 35px; }
  .dem__copy ul, .dem__copy ol {
    padding-left: 50px; }
  .dem__copy li {
    padding-bottom: 26px; }

  .dem__input,
  .dem__input:-webkit-autofill + .dem__input-label,
  .dem__input:-webkit-autofill:hover + .dem__input-label,
  .dem__input:-webkit-autofill:focus + .dem__input-label,
  .dem__input:not(:placeholder-shown) + .dem__input-label,
  .dem__input:focus + .dem__input-label,
  .dem__input:placeholder-shown + .dem__input-label {
    font-size: 16px; } }
@media screen and (min-width: 1200px) {
  .dem__margins {
    padding-left: 110px;
    padding-right: 110px;
    max-width: 1200px; } }
@media screen and (min-width: 1800px) {
  .dem__title-h1 {
    font-size: 42px; }

  .dem__title-h2 {
    font-size: 37px; }

  .dem__title-h3 {
    font-size: 31px; }

  .dem__title-h4 {
    font-size: 22px; }

  .dem__title-h5 {
    font-size: 17px; }

  .dem__copy {
    font-size: 21px; }

  .dem__button {
    font-size: 18px; } }
@media (hover: hover) {
  .dem__copy a:hover:after {
    visibility: visible;
    width: 100%; }

  .dem__button:hover {
    background-color: #FFF9EA;
    color: #D21C1C;
    border-color: #FFF9EA; }

  .dem__button--outline:hover {
    color: #011C54; }

  .dem__button--outline-dark:hover {
    color: #F2F4F8;
    background-color: #011C54; } }
.modal__body-wrap {
  position: fixed;
  background-color: rgba(1, 28, 84, 0.9);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: scroll;
  z-index: 999; }

.modal__body {
  width: 80%;
  max-width: 500px;
  display: block;
  margin: 0 auto;
  background-color: #F2F4F8; }

.modal__close-wrap {
  position: relative;
  width: 100%;
  z-index: 3; }

.modal__close-button {
  position: absolute;
  right: 15px;
  top: 15px;
  background-color: #F2F4F8;
  border-radius: 50%;
  width: 36px;
  height: 36px; }

.modal__close-button-wrap {
  position: absolute;
  top: 19%;
  left: 22%; }

.modal__close-button-line {
  position: absolute;
  width: 20px;
  height: 1px;
  top: 10px;
  border: 1.5px solid #011C54;
  background-color: #011C54; }
  .modal__close-button-line:first-of-type {
    transform: rotate(45deg); }
  .modal__close-button-line:last-of-type {
    transform: rotate(-45deg); }

.modal__content-wrap {
  position: relative;
  margin-top: 20%; }

.modal__image-wrap {
  position: relative;
  width: 100%;
  height: 200px; }

.modal__image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.modal__content-body {
  position: relative;
  padding: 30px 20px; }

.modal__copy-wrap {
  color: #011C54; }

.modal__copy-title {
  font-family: trade-gothic-next-condensed, sans-serif;
  padding-bottom: 5px; }

.modal__copy {
  line-height: 163%; }

.modal__donate-body-wrap {
  padding-top: 20px; }

.modal__donate-list-body-wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

.modal__donate-list-item {
  width: 32%;
  padding-bottom: 10px; }

.modal__donate-list-cta {
  width: 100%;
  text-align: center; }
  .modal__donate-list-cta:focus {
    border-color: #D21C1C;
    background-color: #F2F4F8; }

@media screen and (min-width: 720px) {
  .modal__body {
    max-width: 600px; }

  .modal__close-button {
    top: 20px;
    right: 20px; }

  .modal__content-wrap {
    margin-top: 10%; }

  .modal__copy-title {
    padding-bottom: 10px; }

  .modal__image-wrap {
    height: 250px; }

  .modal__image {
    height: 250px; }

  .modal__content-body {
    position: relative;
    padding: 30px 40px; }

  .modal__donate-body-wrap {
    padding-top: 30px; } }
@media screen and (min-width: 960px) {
  .modal__body {
    max-width: 680px; }

  .modal__image-wrap {
    height: 330px; }

  .modal__image {
    height: 330px; }

  .modal__content-body {
    padding: 40px 67px 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; }

  .modal__copy-wrap {
    width: 50%; }

  .modal__copy-title {
    padding-bottom: 12px; }

  .modal__copy {
    width: 90%; }

  .modal__donate-body-wrap {
    width: 43%;
    padding-top: 0; }

  .modal__donate-list-item {
    width: 47%;
    padding: 10px 0; } }
@media screen and (min-width: 1200px) {
  .modal__body {
    max-width: 775px; }

  .modal__copy-wrap {
    width: 45%; }

  .modal__donate-body-wrap {
    width: 50%; } }
@media (hover: hover) {
  .modal__donate-list-cta:hover {
    border-color: #D21C1C;
    background-color: #F2F4F8; } }
.header__body-wrap {
  padding-top: 42px;
  padding-bottom: 42px;
  position: relative;
  width: 100%; }

.header__buttons-wrap {
  display: flex;
  justify-content: space-between; }

.header__lang-cta {
  padding: 8px 9px; }

.header__donate-cta {
  text-transform: uppercase;
  padding: 8px 9px; }
  .header__donate-cta:after {
    content: "›";
    font-size: 15px;
    color: #F2F4F8;
    display: inline-block;
    margin-left: 3px;
    position: relative;
    transform: translateY(-3%);
    transition: all 0.3s ease-in-out; }
  .header__donate-cta:focus:after {
    color: #D21C1C; }

.header__donate-arrow {
  font-size: 20px;
  display: inline-block;
  padding-top: 3px; }

.header__logo-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  max-width: 80px;
  height: auto; }

.header__logo {
  width: 100%; }

@media screen and (min-width: 375px) {
  .header__logo-wrap {
    max-width: 95px; }

  .header__donate-cta:after {
    transform: translateY(-12%);
    margin-left: 4px; } }
@media screen and (min-width: 720px) {
  .header__lang-cta {
    padding: 9px 19px; }

  .header__donate-cta {
    padding: 9px 23px; }
    .header__donate-cta:after {
      transform: translateY(-10%);
      font-size: 16px; } }
@media screen and (min-width: 960px) {
  .header__body-wrap {
    padding-top: 63px;
    padding-bottom: 60px; }

  .header__logo-wrap {
    width: 20%;
    max-width: 133px; } }
@media screen and (min-width: 1200px) {
  .header__logo-wrap {
    max-width: 150px; }

  .header__donate-cta:after {
    font-size: 18px;
    margin-left: 6px; } }
@media (hover: hover) {
  .header__donate-cta:hover:after {
    color: #D21C1C; } }
.donate__body-wrap {
  width: 100%;
  background-color: #D21C1C;
  color: #F2F4F8;
  display: block;
  position: fixed;
  bottom: 0;
  z-index: 1;
  padding: 20px 30px;
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
  transition: all 0.3s ease-in-out;
  opacity: 1; }
  .donate__body-wrap--hidden {
    -webkit-transform: translateY(55%);
    transform: translateY(55%); }
    .donate__body-wrap--hidden .donate__button-body-wrap {
      opacity: 0; }

.donate__content-wrap {
  max-width: 600px;
  display: block;
  margin: 0 auto; }

.donate__toggle {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: initial;
  width: 100%;
  border: none;
  background-color: transparent;
  color: #F2F4F8; }
  .donate__toggle--closed .donate__toggle-button {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }

.donate__copy {
  font-family: trade-gothic-next, sans-serif;
  font-weight: 700;
  font-size: calc(12px + 2 * ((100vw - 375px) / 1065));
  line-height: 120%;
  text-align: left;
  width: 85%; }

.donate__toggle-button {
  font-family: trade-gothic-next, sans-serif;
  line-height: 0;
  font-weight: 800;
  position: relative;
  font-size: 25px;
  padding-top: 5px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transform-origin: 50% 50%;
  transition: all 0.3s ease-in-out; }

.dontate__list-body-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.donate__list-item {
  width: 31%;
  padding-top: 12px; }

.donate__list-cta {
  background-color: #F2F4F8;
  color: #D21C1C;
  border: 1.5px solid #F2F4F8;
  width: 100%;
  display: block;
  text-align: center; }
  .donate__list-cta:focus {
    background-color: #D21C1C;
    color: #F2F4F8; }

@media screen and (min-width: 720px) {
  .donate__body-wrap {
    padding: 20px 30px; }
    .donate__body-wrap--hidden {
      -webkit-transform: translateY(40%);
      transform: translateY(40%); }

  .donate__content-wrap {
    max-width: 950px; }

  .donate__copy {
    text-align: center;
    display: block;
    margin: 0 auto; }

  .donate__toggle-button {
    padding-top: 2px; }

  .dontate__list-body-wrap {
    justify-content: center; }

  .donate__list-item {
    width: 14.5%;
    margin-right: 10px; }
    .donate__list-item:last-of-type {
      margin-right: 0; } }
@media screen and (min-width: 960px) {
  .donate__body-wrap {
    padding: 22px 50px; }

  .donate__content-wrap {
    max-width: 1200px; }

  .donate__copy {
    max-width: 650px; }

  .donate__toggle-button {
    font-size: 27px;
    right: 50px; }

  .donate__list-item {
    width: 14%; } }
@media screen and (min-width: 1200px) {
  .donate__toggle-button {
    font-size: 30px; } }
@media screen and (min-width: 1800px) {
  .donate__copy {
    font-size: 15px; } }
@media (hover: hover) {
  .donate__list-cta:hover {
    background-color: #D21C1C;
    color: #F2F4F8; } }
.alert__body-wrap {
  width: 100%;
  background-color: #F2F4F8;
  color: #011C54; }

.alert__link-wrap {
  width: 100%;
  color: #011C54;
  text-decoration: none;
  display: block;
  padding: 13px 20px; }
  .alert__link-wrap:focus .alert__link-copy:after {
    visibility: visible;
    width: 100%; }

.alert__link-copy {
  font-family: trade-gothic-next, sans-serif;
  font-weight: 700;
  font-size: calc(12px + 2 * ((100vw - 375px) / 1065));
  line-height: 135%;
  text-align: center;
  width: 80%;
  display: block;
  margin: 0 auto;
  position: relative;
  width: fit-content; }
  .alert__link-copy:after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #011C54;
    bottom: 0;
    left: 0;
    visibility: hidden;
    bottom: -3px;
    transition: all 0.6s ease-in-out; }

@media screen and (min-width: 1800px) {
  .alert__link-copy {
    font-size: 15px; } }
@media (hover: hover) {
  .alert__link-wrap:hover .alert__link-copy:after {
    visibility: visible;
    width: 100%; } }
.home__hero-wrap {
  padding-bottom: 25px; }

.home__hero-art {
  position: relative;
  display: block;
  margin-bottom: 11px; }
  .home__hero-art:focus .home__hero-art-copy-wrap {
    text-decoration: underline; }
  .home__hero-art:focus .home__hero-art-img {
    opacity: 0.8; }

.home__hero-art-img-wrap {
  position: relative;
  width: 100%;
  height: 25vh;
  max-height: 500px;
  min-height: 240px;
  overflow: hidden;
  background-color: #F2F4F8; }

.home__hero-art-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-top: -1px;
  transition: all 0.3s ease-in-out; }

.home__hero-art-copy-wrap {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #F2F4F8;
  color: #011C54;
  padding: 12px 16px;
  transition: all 0.3s ease-in-out; }

.home__org-copy-wrap {
  text-align: center;
  width: 95%;
  max-width: 400px;
  display: block;
  margin: 0 auto; }

.home__org-title {
  padding-bottom: 5px; }

.home__org-copy {
  text-align: center;
  width: 95%;
  max-width: 400px;
  display: block;
  margin: 0 auto;
  padding-bottom: 7px; }

.home__org-form-body-wrap {
  position: relative; }

.home__org-form-select {
  font-family: trade-gothic-next, sans-serif;
  font-weight: 700;
  font-size: 13px;
  width: 100%;
  border: none;
  background-color: transparent;
  border-radius: 0;
  border-bottom: 1.5px solid #011C54;
  color: #011C54;
  padding: 17px 10px 8px;
  margin-bottom: 15px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url("../fonts/down-arrow.svg");
  background-size: 13px;
  background-repeat: no-repeat;
  background-position: 94% 51%;
  cursor: pointer; }

.home__org-form-input-wrap,
.home__org-comm-input-wrap {
  width: 47%;
  display: flex;
  align-items: flex-start;
  position: relative;
  padding-bottom: 15px; }

.home__org-form-checkbox,
.home__org-comm-checkbox {
  width: 13%;
  min-width: 13px;
  height: 13px;
  max-width: 13px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: 1px solid #011C54;
  border-radius: 0;
  outline: none;
  transition-duration: 0.3s;
  background-color: transparent;
  position: relative;
  margin: 0;
  cursor: pointer; }
  .home__org-form-checkbox:focus,
  .home__org-comm-checkbox:focus {
    outline: 1px solid #D21C1C; }

.home__org-form-checkbox:checked,
.home__org-comm-checkbox:checked {
  background-color: #011C54; }

.home__org-form-checkmark:after,
.home__org-comm-checkmark:after {
  content: "";
  position: absolute;
  display: none; }

.home__org-form-checkbox:checked ~ .home__org-form-checkmark:after,
.home__org-comm-checkbox:checked ~ .home__org-comm-checkmark:after {
  display: block; }

.home__org-form-checkmark:after,
.home__org-comm-checkmark:after {
  left: 4px;
  top: 6px;
  width: 3px;
  height: 6px;
  border: solid #F2F4F8;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  z-index: 0; }

.home__org-form-label,
.home__org-comm-label {
  padding-left: 8px;
  width: 95%;
  cursor: pointer; }

.home__org-form-input-wrap {
  align-items: flex-start;
  width: 100%; }

.home__org-form-checkbox {
  margin-top: 5px; }

.home__org-form-label {
  font-weight: 500;
  font-size: 12px; }

.home__org-comm-form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px 0; }

.home__org-comm-checkmark:after {
  top: 2px; }

.home__org-comm-label {
  margin-top: -2px; }

.home__org-error {
  text-align: center;
  color: #D21C1C;
  width: 90%;
  display: block;
  margin: 0 auto; }

.home__org-team-list-wrap {
  display: flex;
  flex-wrap: wrap; }

.home__org-team-list-item {
  width: 100%;
  position: relative; }

.home__org-team-item-button {
  width: 100%;
  height: 40px;
  padding: 8px 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: 1.5px solid #011C54;
  border-radius: 50px;
  outline: none;
  transition-duration: 0.3s;
  background-color: transparent;
  position: relative;
  margin: 6px 0;
  z-index: 1;
  cursor: pointer; }

.home__org-team-item-button:checked {
  background-color: #011C54; }

.home__org-team-item-label {
  width: 90%;
  text-align: center;
  font-weight: 800;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
  cursor: pointer; }

.home__org-team-item-button:checked ~ .home__org-team-item-label {
  color: #F2F4F8;
  z-index: 1; }

.home__org-avail-list-wrap {
  padding: 20px 0; }

.home__org-avail-list-item {
  margin: 6px 0;
  width: 100%; }

.home__org-avail-item-button {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 300px;
  text-align: center; }

.home__org-pag-wrap {
  display: flex;
  width: 90%;
  justify-content: center;
  margin: 15px auto 28px; }

.home__org-pag {
  width: 90%;
  border: 1px solid #AAB3C7;
  padding: 4px;
  background-color: #F2F4F8;
  border-radius: 50px;
  margin: 0 3px; }
  .home__org-pag--complete {
    background-color: #AAB3C7; }

.home__org-nav-next {
  margin: 20px auto 0; }
  .home__org-nav-next:focus {
    border-color: #D21C1C;
    background-color: #F2F4F8;
    color: #D21C1C; }

.home__news-body-wrap {
  margin-top: 11px; }

.home__news-item {
  position: relative;
  display: block;
  background-color: #F2F4F8;
  color: #011C54;
  text-decoration: none;
  padding: 30px 38px;
  margin-bottom: 15px;
  height: auto; }
  .home__news-item:focus .home__news-cta {
    background-color: #F2F4F8;
    color: #D21C1C; }

.home__news-title {
  width: 85%;
  padding-bottom: 10px; }

.home__news-cta {
  margin-top: 30px; }

@media screen and (min-width: 720px) {
  .home__hero-wrap {
    display: flex;
    justify-content: space-between;
    padding-bottom: 47px; }

  .home__hero-art {
    margin-bottom: 0; }
    .home__hero-art--main {
      width: 63%; }
    .home__hero-art--sec {
      width: 100%; }
      .home__hero-art--sec:first-of-type {
        margin-bottom: 12px; }

  .home__hero-art-img-wrap {
    height: 100%;
    max-height: none;
    min-height: 250px; }

  .home__hero-art-copy-wrap {
    padding: 15px; }

  .home__hero-art-sec-wrap {
    width: 40%;
    padding-left: 12px; }

  .home__org-copy-wrap {
    width: 85%;
    max-width: 600px; }

  .home__org-title {
    padding-bottom: 15px; }

  .home__org-copy {
    width: 90%;
    max-width: 600px;
    padding-bottom: 20px;
    line-height: 130%; }

  .home__org-form-wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center; }

  .home__org-form-input-field {
    width: 46%; }

  .home__org-form-select {
    width: 46%;
    padding: 6px 4px;
    margin-bottom: 20px;
    align-self: flex-end; }

  .home__org-disclaimer-wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 17px; }

  .home__org-form-input-wrap {
    width: 46%; }

  .home__org-form-label,
  .home__org-comm-label {
    width: 90%; }

  .home__org-comm-form {
    justify-content: center;
    max-width: 700px;
    margin: 0 auto;
    padding: 40px 0; }
    .home__org-comm-form:after {
      content: "";
      width: 33.33%; }

  .home__org-comm-input-wrap {
    width: 33.33%;
    padding-bottom: 20px; }

  .home__org-error-wrap {
    width: 46%; }

  .home__org-error {
    text-align: left;
    width: 100%; }

  .home__org-team-list-wrap {
    justify-content: space-between;
    padding: 25px 0 50px;
    width: 92%;
    margin: 0 auto; }

  .home__org-team-list-item {
    width: 46%; }

  .home__org-team-item-button {
    padding: 10px 20px;
    margin: 10px 0; }

  .home__org-avail-list-wrap {
    padding: 30px 0 50px; }

  .home__org-avail-list-item {
    padding: 10px 0; }

  .home__org-avail-item-button {
    padding: 8px 20px 10px; }

  .home__org-form-nav-wrap {
    padding-top: 20px; }

  .home__org-pag-wrap {
    width: 30%;
    margin: 0 auto; }

  .home__org-pag {
    width: 95%;
    max-width: 43px; }

  .home__org-nav-next {
    margin-top: 40px; }

  .home__news-body-wrap {
    margin-top: 12px;
    display: flex; }

  .home__news-item {
    margin-bottom: 0;
    width: 50%; }
    .home__news-item:nth-of-type(even) {
      margin-left: 12px; }

  .home__news-copy-wrap {
    padding-bottom: 55px; }

  .home__news-title {
    width: 90%; }

  .home__news-cta {
    position: absolute;
    bottom: 35px; } }
@media screen and (min-width: 960px) {
  .home__hero-art-copy-wrap {
    padding: 20px; }

  .home__org-title {
    padding-bottom: 18px; }

  .home__org-copy {
    padding-bottom: 25px; }

  .home__org-comm-input-wrap {
    padding-bottom: 22px; }

  .home__org-form-select {
    font-size: 16px; }

  .home__org-form-checkbox,
  .home__org-comm-checkbox {
    height: 15px;
    max-width: 15px; }

  .home__org-form-label,
  .home__org-comm-label {
    width: 85%;
    padding-left: 10px; }

  .home__org-form-checkmark:after {
    top: 7px;
    left: 5px; }

  .home__org-comm-checkmark:after {
    left: 5px; }

  .home__news-item {
    padding: 33px 38px; } }
@media screen and (min-width: 1200px) {
  .home__org-title {
    padding-bottom: 23px; }

  .home__org-copy {
    padding-bottom: 30px; }

  .home__org-comm-checkmark:after {
    top: 3px; } }
@media (hover: hover) {
  .home__hero-art:hover .home__hero-art-copy-wrap {
    text-decoration: underline; }
  .home__hero-art:hover .home__hero-art-img {
    opacity: 0.8; }

  .home__org-nav-next:hover {
    border-color: #D21C1C;
    background-color: #F2F4F8;
    color: #D21C1C; }

  .home__news-item:hover .home__news-cta {
    background-color: #F2F4F8;
    color: #D21C1C; }

  .home__news-cta:hover {
    border-color: #D21C1C; } }
.footer__body-wrap {
  background: #021d54;
  background: linear-gradient(0deg, #021d54 0%, rgba(14, 50, 112, 0.3) 75%, rgba(59, 106, 159, 0) 100%); }

.footer__body {
  display: flex;
  justify-content: space-between;
  padding-top: 62px;
  padding-bottom: 128px; }

.footer__content-wrap {
  width: 40%; }

.footer__list-wrap {
  padding-bottom: 33px; }

.footer__list-item {
  padding-bottom: 13px;
  display: block; }

.footer__item-link {
  color: #F2F4F8;
  text-decoration: none;
  position: relative; }
  .footer__item-link:after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #F2F4F8;
    bottom: 0;
    left: 0;
    visibility: hidden;
    bottom: -3px;
    transition: all 0.3s ease-in-out; }
  .footer__item-link:focus:after {
    visibility: visible;
    width: 100%; }

.footer__fine-print {
  color: #F2F4F8;
  font-size: 10px;
  font-family: Helvetica, sans-serif;
  line-height: 120%;
  width: 165%; }
  .footer__fine-print a {
    color: #F2F4F8;
    text-decoration: underline; }
  .footer__fine-print:last-of-type {
    font-family: trade-gothic-next, sans-serif;
    font-weight: 600;
    padding-top: 13px;
    width: 130%; }

.footer__social-wrap {
  width: 60%;
  position: relative; }

.footer__social-list-wrap {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: fit-content;
  float: right; }

.footer__social-list-item {
  padding: 0 10px;
  transition: all 0.3s ease-in-out; }
  .footer__social-list-item:last-of-type {
    padding-right: 0; }

.footer__social-item-link {
  width: 100%; }

.footer__social-item-img {
  display: block;
  max-width: 26px;
  width: 100%; }

.footer__social-donkey-wrap {
  position: absolute;
  right: 0;
  bottom: 0; }

@media screen and (min-width: 720px) {
  .footer__body {
    padding-top: 87px;
    padding-bottom: 125px; }

  .footer__content-wrap {
    width: 50%; }

  .footer__list-wrap {
    padding-bottom: 36px; }

  .footer__list-item {
    padding-bottom: 13px; }

  .footer__fine-print {
    width: 80%;
    max-width: 275px; }

  .footer__social-wrap {
    width: 50%; }

  .footer__social-list-item {
    padding: 0 33px 0 0; }

  .footer__social-item-img {
    max-width: 27px;
    max-height: 22px; }

  .footer__social-donkey-wrap {
    max-width: 35px; }

  .footer__social-donkey {
    width: 100%; } }
@media (hover: hover) {
  .footer__item-link:hover:after {
    visibility: visible;
    width: 100%; }

  .footer__social-list-wrap:hover > .footer__social-list-item {
    opacity: 0.5; }

  .footer__social-list-wrap:hover > .footer__social-list-item:hover {
    opacity: 1; } }
.news__body-wrap {
  position: relative;
  padding-bottom: 30px;
  padding-top: 60px; }

.news__back {
  position: absolute;
  left: 20px;
  top: 15px;
  color: #011C54;
  text-decoration: none;
  font-family: trade-gothic-next, sans-serif;
  font-size: calc(10px + 3 * ((100vw - 375px) / 1065));
  text-transform: uppercase; }
  .news__back:after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #011C54;
    bottom: 0;
    left: 0;
    visibility: hidden;
    bottom: -3px;
    transition: all 0.6s ease-in-out; }
  .news__back:focus:after {
    visibility: visible;
    width: 100%; }

.news__title-wrap {
  text-align: center;
  padding-bottom: 20px; }

.news__title {
  text-align: center; }

.news__title-date {
  font-family: trade-gothic-next, sans-serif;
  line-height: 120%;
  text-transform: uppercase;
  font-size: calc(10px + 5 * ((100vw - 375px) / 1065));
  padding-top: 4px; }

.news__copy-wrap h1, .news__copy-wrap h2, .news__copy-wrap h3,
.news__copy-wrap h4, .news__copy-wrap h5, .news__copy-wrap h6 {
  text-align: center;
  padding-bottom: 12px; }
.news__copy-wrap h1 {
  font-family: trade-gothic-next-condensed, sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 120%;
  font-size: calc(24px + 14 * ((100vw - 375px) / 1065)); }
.news__copy-wrap h2 {
  font-family: "CheltBold", serif;
  font-size: calc(20px + 14 * ((100vw - 375px) / 1065));
  line-height: 125%; }
.news__copy-wrap h3 {
  font-family: trade-gothic-next, sans-serif;
  font-weight: 600;
  line-height: 120%;
  font-size: calc(20px + 8 * ((100vw - 375px) / 1065));
  letter-spacing: 0.2px; }
.news__copy-wrap h4 {
  font-family: trade-gothic-next, sans-serif;
  font-weight: 600;
  line-height: 125%;
  font-size: calc(12px + 8 * ((100vw - 375px) / 1065)); }
.news__copy-wrap h5 {
  font-family: trade-gothic-next, sans-serif;
  font-weight: 600;
  line-height: 125%;
  font-size: calc(12px + 4 * ((100vw - 375px) / 1065)); }
.news__copy-wrap h6 {
  font-family: trade-gothic-next, sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 130%; }
.news__copy-wrap p + figure {
  padding-top: 10px; }
.news__copy-wrap figure {
  margin: 0; }
.news__copy-wrap figure, .news__copy-wrap video {
  width: 100%;
  padding: 30px 0;
  position: relative;
  left: 50%;
  transform: translateX(-50%); }
.news__copy-wrap img {
  width: 100%; }
.news__copy-wrap table {
  border-collapse: collapse;
  width: 100%; }
.news__copy-wrap td, .news__copy-wrap th {
  border: 2px solid #011C54;
  text-align: left;
  padding: 12px 8px; }
.news__copy-wrap th {
  font-weight: 800; }
.news__copy-wrap p ~ table,
.news__copy-wrap ul ~ table,
.news__copy-wrap ol ~ table {
  margin-top: 15px; }

.news__copy-button {
  display: block;
  margin: 0 auto;
  margin-top: 30px; }
  .news__copy-button:focus {
    background-color: #F2F4F8;
    border-color: #D21C1C; }

@media screen and (min-width: 720px) {
  .news__body-wrap {
    padding-bottom: 50px; }

  .news__title-wrap {
    padding-bottom: 45px; }

  .news__title-wrap,
  .news__copy-wrap {
    max-width: 550px;
    display: block;
    margin: 0 auto; }

  .news__title-date {
    padding-top: 11px; }

  .news__copy-wrap h1, .news__copy-wrap h2, .news__copy-wrap h3,
  .news__copy-wrap h4, .news__copy-wrap h5, .news__copy-wrap h6 {
    padding-bottom: 20px; }
  .news__copy-wrap p + figure {
    padding-top: 25px; }
  .news__copy-wrap figure, .news__copy-wrap video {
    width: 110%;
    padding: 60px 0; }
  .news__copy-wrap p ~ table,
  .news__copy-wrap ul ~ table,
  .news__copy-wrap ol ~ table {
    margin-top: 30px; }

  .news__copy-button {
    margin-top: 50px; } }
@media screen and (min-width: 960px) {
  .news__body-wrap {
    padding-top: 65px;
    padding-bottom: 70px; }

  .news__title-wrap,
  .news__copy-wrap {
    width: 80%; }

  .news__copy-wrap h1, .news__copy-wrap h2, .news__copy-wrap h3,
  .news__copy-wrap h4, .news__copy-wrap h5, .news__copy-wrap h6 {
    padding-bottom: 25px; }
  .news__copy-wrap figure, .news__copy-wrap video {
    width: 122%; } }
@media screen and (min-width: 1200px) {
  .news__body-wrap {
    padding-top: 75px;
    padding-bottom: 80px; }

  .news__copy-wrap figure, .news__copy-wrap video {
    width: 125%; } }
@media screen and (min-width: 1800px) {
  .news__back {
    font-size: 14px; }

  .news__title-date {
    font-size: 17px; }

  .news__copy-wrap h1 {
    font-size: 42px; }
  .news__copy-wrap h2 {
    font-size: 37px; }
  .news__copy-wrap h3 {
    font-size: 31px; }
  .news__copy-wrap h4 {
    font-size: 22px; }
  .news__copy-wrap h5 {
    font-size: 18px; } }
@media (hover: hover) {
  .news__back:hover:after {
    visibility: visible;
    width: 100%; }

  .news__copy-button:hover {
    background-color: #F2F4F8;
    border-color: #D21C1C; } }
.fourohfour__body-wrap {
  min-height: 500px;
  position: relative; }

.fourohfour__copy-wrap {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.fourohfour__title-img {
  width: 100%;
  max-width: 350px;
  display: block;
  margin: 0 auto;
  padding-bottom: 15px; }

.fourohfour__body-copy {
  text-align: center;
  padding-bottom: 25px;
  width: 80%;
  max-width: 300px;
  display: block;
  margin: 0 auto; }

.fourohfour__copy-button {
  display: block;
  margin: 0 auto;
  text-transform: uppercase; }
  .fourohfour__copy-button:focus {
    border-color: #D21C1C;
    background-color: #F2F4F8;
    color: #D21C1C; }

@media screen and (min-width: 720px) {
  .fourohfour__body-wrap {
    padding-top: 70px;
    padding-bottom: 70px;
    margin-bottom: 50px;
    min-height: 600px; }

  .fourohfour__title-img {
    max-width: 520px;
    padding-bottom: 20px; }

  .fourohfour__body-copy {
    padding-bottom: 40px;
    width: 50%;
    max-width: 450px; } }
@media (hover: hover) {
  .fourohfour__copy-button:hover {
    border-color: #D21C1C;
    background-color: #F2F4F8;
    color: #D21C1C; } }
.news__copy-wrap img,
.news__copy-wrap video {
  max-width: none; }

html.pum-open.pum-open-overlay.pum-open-scrollable body > [aria-hidden] {
  padding-right: 0; }

.modal__body {
  position: relative; }

.modal__close-button {
  z-index: 2; }

.home__org-form-checkmark::after,
.home__org-comm-checkmark::after {
  box-sizing: content-box; }

.donkey-flashing {
  position: relative; }
  .donkey-flashing path {
    animation: donkeyFlashing 1s infinite linear alternate;
    animation-delay: .5s;
    fill: #011c54; }
  .donkey-flashing:first-child path {
    animation-delay: 0s; }
  .donkey-flashing:last-child path {
    animation-delay: 1s; }

@keyframes donkeyFlashing {
  0% {
    fill: #011c54; }
  50%,
  100% {
    fill: #cdd1dd; } }
.home__org-form-body-wrap .loading-indicator {
  position: absolute;
  z-index: -1;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity .5s ease-in-out;
  opacity: 0;
  text-align: center; }
  .home__org-form-body-wrap .loading-indicator .donkey-flashing {
    display: inline-block;
    padding: 0 10px; }
.home__org-form-body-wrap .form-slides {
  transition: all .5s ease-in-out;
  opacity: 1; }
.home__org-form-body-wrap.loading .form-slides {
  z-index: 0;
  opacity: 0; }
.home__org-form-body-wrap.loading .loading-indicator {
  display: block !important;
  z-index: 1;
  opacity: 1; }
.home__org-form-body-wrap.loading .home__org-nav-next {
  opacity: 0; }

.error_input {
  border-color: #D21C1C !important; }

.error_input:placeholder-shown + .dem__input-label {
  color: #D21C1C !important; }

/*# sourceMappingURL=main.css.map */
